<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ReportsMonitoringData" connectionString="DATA SOURCE=192.168.1.134:1521;PASSWORD=sanpro;PERSIST SECURITY INFO=True;USER ID=SANPRO"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Culture Info-->
    <add key="CultureInfo" value="es-CO" />
    
    <!--Header Message-->
    <add key="HeaderMessage" value="Sistema Monitoreo Condiciones de Laboratorio" />
    
    <!--Intro Messages-->
    <add key="IntroTitle" value="Sistema de Monitoreo de Condiciones de Laboratorio" />
    <add key="IntroButtonText" value="Ingresar" />
    
    <!--Welcome Messages-->
    <add key="WelcomeMessage" value="Bienvenido," />
    <add key="WelcomeErrorMessage" value="Error ejecutando mapeo inicial!" />
    <add key="WelcomeErrorMessageFirstTime" value="Si esta es la primera vez que ingresa al sistema, verifique que la parametrización está lista!" />
    
    <!--Menu Labels-->
    <add key="IndexMenuLabel" value="Inicio" />
    <add key="MapMenuLabel" value="Ver Mapa" />
    <add key="ReportingMenuLabel" value="Reportes" />
    <add key="LogMenuLabel" value="Bitácora" />
    <add key="ManagementMenuLabel" value="Administración" />
    <add key="AboutMenuLabel" value="Acerca de..." />
    <add key="LogOffMenuLabel" value="Salir" />
    
    <!--Inbox Messages-->
    <add key="InboxTitle" value="Bandeja de Entrada" />
    <add key="RefreshRateMilliSeconds" value="90000" />
    <add key="AlarmCheckOutTitle" value="Reconocimiento de alarmas" />
    <add key="AlarmPlaceHolder" value="Ingrese las observaciones correspondientes a esta alarma" />
    <add key="AlarmSaveButton" value="Guardar" />
    <add key="AlarmCancelButton" value="Cancelar" />
    <add key="DateTitle" value="Fecha y hora" />
    <add key="MonApplianceName" value="Equipo" />
    <add key="MonAlarmTypeName" value="Alarma" />
    <add key="MonValue" value="Valor" />
    <add key="MonSignalName" value="Señal" />
    <add key="SenderTitle" value="Remitente:" />
    <add key="SenderMapperName" value="Mapeador A. del Sistema" />
    <add key="SubjectTitle" value="Asunto:" />
    <add key="NormalMonitoringInboxSubject" value="Nuevo mensaje de monitoreo por señal normal" />
    <add key="HighMonitoringInboxSubject" value="Nuevo mensaje de monitoreo por alarma de señal alta" />
    <add key="LowMonitoringInboxSubject" value="Nuevo mensaje de monitoreo por alarma de señal baja" />
    <add key="UnknownMonitoringInboxSubject" value="Mensaje de monitoreo por alarma desconocido dentro de las etiquetas parametrizadas" />

    <!--Map Messages-->
    <add key="MapCloseButton" value="Cerrar" />
    
    <!--Footer Messages-->
    <add key="FooterMessage1" value="Copyright 2011 © All rights reserved. Powered by" />
    <add key="FooterMessage1Link" value="http://www.premize.com" />
    <add key="FooterMessage2" value="Premize S.A.S" />
    <add key="FooterMessage3" value="Sitio publicado por " />
    <add key="FooterMessage4" value="Johnson &amp; Johnson de Colombia S.A." />
    
    <!--Error Messages-->
    <add key="NonZeroFieldErrorMessage" value="No puede estar vacío o debe ser mayor a cero (0)." />
    <add key="EmptyOrDuplicatedFieldErrorMessage" value="Campo inválido o ya existe en la base de datos." />
    <add key="DuplicatedRecordErrorMessage" value="Registro ya existe en la base de datos." />
    <add key="InvalidFormatFieldErrorMessage" value="Formato de campo inválido. Ej: usuario@ejemplo.com" />
    <add key="EmptyFieldErrorMessage" value="El campo no puede estar vacío o compuesto solo por espacios en blanco." />
    <add key="PasswordErrorMessage" value="Contraseña ingresada no cumple con las políticas mínimas." />
    
    <!--Login Error Messages-->
    <add key="EmptyUserOrPasswordErrorMessage" value="Por favor introduzca usuario y contraseña correctos." />
    <add key="NonExistentLoginEmailErrorMessage" value="El login de usuario introducido no existe." />
    <add key="WrongPasswordErrorMessage" value="La contraseña es incorrecta." />
    <add key="InactiveUserErrorMessage" value="El estado de usuario no le permite iniciar sesión." />
    <add key="FirstTimeUserMessage" value="Estimado usuario: Esta es la primera vez que se conecta al aplicativo, recuerde cambiar contraseña para mayor seguridad." />
    <add key="AmountWrongPasswordAttemptsErrorMessage" value="Cuenta bloqueada por superar límite de intentos fallidos. Contacte al administrador del sistema." />
    
    <!--Log Messages-->
    <add key="LoginText" value="Inicio de sesión en SMCL" />
    <add key="CreateText" value="Creación de registro en: " />
    <add key="EditText" value="Edición de registro en: " />
    <add key="DeleteText" value="Eliminación de registro en: " />
    <add key="ReportText" value="Generación de reporte en: " />
    <add key="NotifyAlarmText" value="Reconocimiento de alarma en bandeja de entrada" />
    <add key="BlockAccountText" value="Cuenta bloqueada por límite de intentos erróneos" />
    <add key="ChangePasswordText" value="Cambio de clave efectuado" />
    <add key="LogoutText" value="Cierre de sesión en SMCL" />
    <add key="UnknownError" value="Error no soportado generando log en SMCL" />
    
    <!--Roles-->
    <add key="ActiveRolesByDefault" value="3,4" />
    <add key="AmountOfRolesToShowInListBox" value="5" />
    <add key="OptionErrorMessage" value="El usuario no está habilitado para esta opción." />
    <add key="OptionErrorDescription" value="Es posible que la opción a la que está intentando acceder no esté configurada para su rol de usuario. Contacte al administrador del sistema." />
    
    <!--OptionsEnabledByRoles-->
    <add key="Sistema" value="About" />
    <add key="Administrador" value="Index,Map,Reporting,Management,About" />
    <add key="Usuario" value="Map,Reporting,About" />
    <add key="Invitado" value="Index,Map,About" />
    
    <!--ActiveUserStatus-->
    <add key="ActiveUserStatus" value="Activo" />
    <!--InactiveUserStatus-->
    <add key="InactiveUserStatus" value="Inactivo" />
    <!--MinPasswordLength-->
    <add key="MinPasswordLength" value="6" />
    <!--MinPasswordUpperCaseLetters-->
    <add key="MinPasswordUpperCaseLetters" value="1" />
    <!--MinPasswordLowerCaseLetters-->
    <add key="MinPasswordLowerCaseLetters" value="1" />
    <!--MinPasswordNumerics-->
    <add key="MinPasswordNumerics" value="1" />
    <!--MinPasswordSymbols-->
    <add key="MinPasswordSymbols" value="0" />
    <!--AmountWrongPasswordAttempts-->
    <add key="AmountWrongPasswordAttempts" value="3" />
    <!--LabelPassphrase-->
    <add key="LabelPassphrase" value="Seleccione Pregunta Seguridad" />
    <!--PlaceholderPassphrase-->
    <add key="PlaceholderPassphrase" value="Ingrese respuesta secreta" />
    <!--Passphrases Keys (TENER EN CUENTA CONSERVAR EL CONSECUTIVO QUE PRECEDE A CADA PREGUNTA E
        INCLUIR EL SIGNO SEPARADOR.
        Ej: 1PreguntaClave?-2PreguntaClave?-3PreguntaClave?-....999PreguntaClave?-->
    <add key="PassphrasesKeys" value="1Nombre abuelo paterno?-2Modelo de primer vehículo?-3Color favorito?" />
    <!--Passphrases Keys Separator-->
    <add key="PassphrasesKeysSeparator" value="-" />
    <!--PasswordPolicies-->
    <add key="PasswordPolicies" value="Requirimientos mínimos: Longitud de contraseña mínima (6) caracteres, contener letras mayúsculas, letras minúsculas, números y/o símbolos (opcional)." />
    
    <!--Measure Units-->
    <add key="DifferentialPressure" value="1" />
    <add key="Temperature" value="2" />
    <add key="RH" value="3" />
    <add key="DegreeCelsius" value="°C" />
    <add key="InchesOfWater" value="InH2O" />
    <add key="Percentage" value="%" />
    
    <!--Alarm Types to Get Limits on Reports-->
    <add key="NormalAlarmId" value="1" />
    <add key="HighAlarmId" value="2" />
    <add key="LowAlarmId" value="3" />
    <add key="AlarmTypeExclusionId" value="1"/>
    
    <!--Technical Details-->
    <add key="ASPNET" value="ASP.NET MVC 3.0" />
    <add key="FrameworkNET" value=".NET Framework 4.0" />
    <add key="C#Version" value="C# 4.0" />
    <add key="PersistenTool" value="NHibernate 3.2 + LINQ" />
    <add key="DBSystem" value="Oracle 10G Enterprise R2" />
    <add key="PackageManager" value="NuGet Package Manager" />
    <add key="TestUnit" value="Test Unit - NUnit" />
    <add key="LogTool" value="Log4Net" />
    <add key="CSS" value="CSS 3.0" />
    <add key="JS" value="Javascript" />
    <add key="jQuery" value="jQuery 1.8 (Ajax)" />
    <add key="jQueryGrid" value="jqGrid (CRUD) - dataTables (Inbox)" />
    <add key="jQPlot" value="jqPlot (Graphics)" />
    <add key="ReportingServices" value="Reporting Services 2010" />
    <add key="XHTML" value="XHTML 1.0 Transitional" />
    <add key="Version" value="Versión: 2.1.2012.04.09" />
  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Home/LogOn" timeout="30" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="Oracle.DataAccess" fullName="Oracle.DataAccess, Version=2.111.6.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
